./ILSVRC/*/*
ILSVRC/*
data/*
*/*/data/*
*/*/*/data/*
*/data/*/*
*/*/data/*/*
*/*/*/data/*/*
*/MNIST_data/*
*/*/data/*/*
*/images/*
*/trained_model/*
*/*/trained_model/*
*/*/*/trained_model/*
*/trained_models/*
*/*/trained_models/*
*/*/trained_models/*/*
*/*/trained_models/*/*/*
*/*/trained_models/*/*/*/*
.ipynb_checkpoints/*
*.tar.gz
*.gz
*-ubyte
*.pt
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*/*/*/*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/ILSVRC/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
__pycache__/
sentence2vec/cased_L-12_H-768_A-12.zip
sentence2vec/fastText-0.9.2/
sentence2vec/glove/
sentence2vec/sent2vec/
sentence2vec/uncased_L-12_H-768_A-12.zip
sentence2vec/uncased_L-12_H-768_A-12/
vision/
yolo-v4/
LBP_scl/rcnn_torchvision/
caltech101/notebooks/outputs/plots/accuracy.png
caltech101/notebooks/outputs/plots/loss.png
